div.highway-slider {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 15vw;
	margin: 1% 0;

	div.highway-barrier {
		overflow: hidden;
		position: relative;
	}

	.highway-lane {
		display: flex;
		height: 100%;


		.highway-car {
			/* flex: 1; */
			display: flex;
			flex-direction: column;

			justify-content: center;
			align-items: center;
			background: #fff;
			/* border-left: 1px solid red; */
			/* transform: skewX(-15deg);  */


			/* border-right: 1px solid transparent; */
			border-right-width: 3px; /* Apply width to the right border */
			border-right-style: solid; /* Set the border style to solid */
			border-right-color: transparent; /* Set the border color to transparent */
			position: relative; /* Create a positioning context for the pseudo-element */

			margin: 0 0.2%;
			padding: 2vw;
			color: #343434;
		}
		.highway-car::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 2px; /* Match the border width */
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), red, rgba(0, 0, 0, 0)); 
		}
	}
}

.highway-car p {
	margin: 0;
	text-align: center;
	font-size: 1.5vw;
	/* transform: skewX(10deg);  */

}

.highway-car h1 {
	text-align: center;
	color: red;
	margin: 0;
	font-weight: 500;
	/* transform: skewX(10deg);  */

}

.highway-car h2 {
	text-align: center;
	margin: 0;
	font-size: 2.5vw;
	/* transform: skewX(10deg);  */

	border-bottom: 2px solid black;
	padding: 0;
}



@keyframes translatestf {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-500%);
	}

}

#stffull div.highway-barrier {
	.highway-lane {
		width: 500%;

		.highway-car {
			animation: translatestf 30s linear infinite;

			h4 {
				font-size: 28px;
			}
		}
	}
}

@keyframes translateinfinite {
	100% {
		transform: translateX(calc(-180px * 12));
	}
}

#infinite div.highway-barrier {
	background: #fff;

	&::before,
	&::after {
		content: " ";
		position: absolute;
		z-index: 9;
		width: 180px;
		height: 100%;
	}

	&::before {
		top: 0;
		left: 0;
	}

	&::after {
		top: 0;
		right: 0;
	}

	.highway-lane {
		width: calc(180px * 20);

		.highway-car {
			/* width: 10px; */
			animation: translateinfinite 25s linear infinite;
			/* border: 2px solid; */

		}
	}
}

/* TILT CARD CSS START */
/* .tilt {
	border-radius: 5px;
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
	transform-style: preserve-3d;

	transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
	&:hover {
		box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.5);
	}
}

.sus-tilt-sec{
		position: relative;
} */

#tilt {
	transition: transform 0.03s ease;
}

/* .tilt-active {
	transform: perspective(1000px) rotateX(var(--tilt-x, 0deg)) rotateY(var(--tilt-y, 0deg)) translateZ(5px);
}	 */
/* TILT CARD CSS END */

/* svg draw css start */
.svg-draw-wrapper {
	position: relative;
	width: 100%;
	z-index: 111;
	height: 200vh;
	background-color: #0b1429;

}

#svg-stroke {
	/* position: sticky; */
	/* height: 20% ; */
	/* top: -10%; */
	width: 100vw;
	margin: auto;
}

.svg-draw-wrapper-h1 {
	font-size: 4vw;
	color: white;
}

.svg-draw-wrapper-p {
	color: white;
	font-size: 1vw;
}

.svg-draw-text-wrapper {
	position: sticky;
	text-align: center;
	top: 10%;
	z-index: 0;

}

.svg-draw-text-sec {
	width: 60%;
	color: white;
	text-align: center;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);

}




/*  ****************/
/* .glow {
	border-radius: 14px;
	padding: 2%;
	box-shadow: rgba(72, 135, 202, 0.8) 0 0 90px 33px;
  }
 */





/* ARROW CSS START */
.map-arrow-svg-wrapper {
	/* position: absolute;
	top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
	/* border: 2px solid; */
	width: 2vw;
	display: flex;
	align-items: center;
	margin-left: 1vw;
}

.map-arrow-svg-wrapper .map-arrow-svg {
	width: 100%;
	height: auto;
	margin: 0;
	cursor: pointer;
	overflow: visible;
}

.map-arrow-svg-wrapper .map-arrow-svg polygon,
.map-arrow-svg-wrapper .map-arrow-svg-wrapper path {
	transition: all 0.5s cubic-bezier(.2, 1, .3, 1);
	fill: #08142f;
}

.map-arrow-svg-wrapper .map-arrow-svg:hover polygon,
.map-arrow-svg-wrapper .map-arrow-svg:hover path {
	transition: all 1s cubic-bezier(.2, 1, .3, 1);
	fill: #FF4136;
}

.map-arrow-svg-wrapper .map-arrow-svg:hover .arrow {
	animation: arrow-anim 2.5s cubic-bezier(.2, 1, .3, 1) infinite;
}

.map-arrow-svg-wrapper .map-arrow-svg:hover .arrow-fixed {
	animation: arrow-fixed-anim 2.5s cubic-bezier(.2, 1, .3, 1) infinite;
}

@keyframes arrow-anim {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	5% {
		transform: translateX(-0.1rem);
	}

	100% {
		transform: translateX(1rem);
		opacity: 0;
	}
}

@keyframes arrow-fixed-anim {
	5% {
		opacity: 0;
	}

	20% {
		opacity: 0.4;
	}

	100% {
		opacity: 1;
	}
}

/* ARROW CSS END */

/* MAP OVERLAY CSS START */
.custom-model-main {
	text-align: center;
	overflow: hidden;
	width: 80%;
	height: 80%;
	margin: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* z-index: 1050; */
	-webkit-overflow-scrolling: touch;
	outline: 0;
	opacity: 0;
	-webkit-transition: opacity 0.15s linear, z-index 0.15;
	-o-transition: opacity 0.15s linear, z-index 0.15;
	transition: opacity 0.15s linear, z-index 0.15;
	z-index: -1;
	overflow-x: hidden;
	overflow-y: auto;
}

.custom-model-main:before {
	content: "";
	display: inline-block;
	height: auto;
	vertical-align: middle;
	margin-right: -0px;
	height: 100%;
}

.model-open {
	z-index: 99999;
	opacity: 1;
	overflow: hidden;
}

.custom-model-inner {
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	-o-transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
	display: inline-block;
	vertical-align: middle;
	height: 100vh;
	overflow: hidden;
}

.mi-1 {
	margin: 5% auto;

	width: 80%;
}

.mi-2 {

	margin: 1% auto;
	width: 42vw;
	/* height: 100vh; */
}

.mi-2 img {
	/* border: 2px solid black; */
	scale: 1.28;
}

.custom-model-wrap {
	display: block;
	width: 100%;
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	outline: 0;
	text-align: left;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.model-open .custom-model-inner {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	position: relative;
	z-index: 999;
	height: fit-content;
}

.model-open .bg-overlay {
	background: rgba(0, 0, 0, 0.6);
	z-index: 99;
}

.bg-overlay {
	background: rgba(0, 0, 0, 0);
	height: 100vh;
	width: 100vw;
	margin: auto;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-transition: background 0.15s linear;
	-o-transition: background 0.15s linear;
	transition: background 0.15s linear;
}

.close-btn {
	position: absolute;
	right: -10%;
	top: -10px;

	cursor: pointer;
	z-index: 11111111111;
	font-size: 40px;
	color: #fff;
}

.pop-up-content-wrap h4 {
	font-size: 1.5vw;
	margin: auto;
	text-align: center;
	width: fit-content;
	border-bottom: 2px solid #FF4136;
}

/* MAP OVERLAY CSS END */

/* HOVER POP-UP CSS START */


/* Icons */

.about-mapping-area span {
	/* position: relative; */
	-o-transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	z-index: 1;
}

.about-mapping-area span:hover {}

/* pop-up text */

.about-mapping-area span .hidden-span {
	color: #666;
	position: absolute;
	font-family: sans-serif;
	bottom: 0;
	left: -25px;
	width: 20vw;
	right: -25px;
	border: 1px solid #666;
	padding: 5px 7px;
	z-index: 2;
	font-size: 1.2vw;
	border-radius: 5px;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	-o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.about-mapping-area span .hidden-span:before {
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	z-index: 111111;
	position: absolute;
	bottom: -5px;
	left: 40px;
}

/* text pops up when icon is in hover state */

.about-mapping-area span:hover .hidden-span {
	bottom: 50px;
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

/* font awesome icons */

.about-mapping-area span:nth-of-type(1):before {
	/* content:'\f09a'; */
}

.about-mapping-area span:nth-of-type(2):before {
	/* content:'\f099'; */
}

/* a:nth-of-type(3):before {
  content:'\f0d5';
  }
  a:nth-of-type(4):before {
  content:'\f113';
  }
  a:nth-of-type(5):before {
  content:'\f17d';
  }
  a:nth-of-type(6):before {
  content:'\f1cb';
  } */
/* HOVER POP-UP CSS END */

/* CORD SVG CSS START */
.cord-svg {
	/* border: 2px solid; */
	position: absolute;
	left: 30%;
	top: -35%;
	z-index: -1;
	opacity: 0.8;
	rotate: -45deg;
	;
	/* top: 5%; */
	/* bottom:; */
	/* transform: translateX(-50%); */
}

/* CORD SVG CSS END */
.containerx-res {
	display: none;
}

/* *********************************** */
/* RESPONSIVE CSS FOR HOME PAGE START */
/* *********************************** */
@media (max-width: 468px) {
	.corp-and-trade-view-container {
		/* width: 100%; */
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.corp-and-trade-view-container>div {
		width: 100%;
		margin-left: 0 !important;
		/* Override margin-left */
	}

	.corp-v-cont {
		width: 100%;
	}

	.news-box {
		margin-bottom: 2rem;
		margin: auto auto 5%;
		width: 70%;
	}

	.news-box .date {
		width: 100%;
	}

	.news-box .image img {
		height: 200px;
		width: 100%;

	}

	.containerx {
		display: none;
	}

	.containerx-res {
		width: 100%;
		justify-content: space-evenly;
		flex-wrap: wrap;
		display: flex;
	}

	.containerx-res-child {
		width: 45%;
		height: 150px;
		border-radius: 10px;
		margin-bottom: 10px;
		text-align: center;
		border: 1px solid red;
		padding: 2%;
	}

	.containerx-res-child h1 {
		font-size: 24px;
		color: #FF4136;
		font-weight: 500;
	}

	.containerx-res-child h2 {
		font-size: 24px;
	}

	.containerx-res-child p {
		font-size: 14px;
		margin: 0;
	}

	/* QUERIES FOR MAP START */



	/* QUERIES FOR MAP END */


}


@media(max-width: 1200px) {

	.map-footprint-res {
		display: block;
	}

	.map-footprint {
		display: none;
	}

	.res-map-btn-wrapper {
		width: fit-content;
		margin: auto;
		justify-content: space-evenly;
	}

	.button-res {
		text-align: left;
		position: relative;
		display: inline-block;
		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		margin: 4% auto;
		padding: 0;
		font-size: 11px;
		font-family: inherit;
		display: block;
	}

	.button-res.learn-more {
		width: 340px;
		height: auto;
	}

	.button-res.learn-more .circle {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: relative;
		display: block;
		margin: 0;
		width: 30px;
		height: 30px;
		background: #0b1429;
		border-radius: 1.625rem;
	}

	.button-res.learn-more .circle .icon {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background: white;
	}

	.button-res.learn-more .circle .icon.arrow {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		left: 7px;

		/* width: 1.125rem;
	height: 0.125rem; */
		width: 12px;
		height: 0.125rem;
		background: none;
	}

	.button-res.learn-more .circle .icon.arrow::before {
		position: absolute;
		content: '';
		top: -0.25rem;
		right: 0.0625rem;
		width: 0.625rem;
		height: 0.625rem;
		border-top: 0.125rem solid #fff;
		border-right: 0.125rem solid #fff;
		transform: rotate(45deg);
	}

	.button-res.learn-more .button-text {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.75rem 0;
		margin: 0 0 0 3rem;
		color: #08142f;
		font-weight: 700;
		line-height: 0.7;
		text-align: left;
		text-transform: uppercase;
	}

	.button-res:hover .circle {
		width: 100%;
	}

	.button-res:hover .circle .icon.arrow {
		background: white;
		transform: translate(1rem, 0);
	}

	.button-res:hover .button-text {
		color: white;
	}


}

@media(min-width: 1200px) {
	.map-footprint-res {
		display: none;
	}

	.map-footprint {
		display: block;
	}

	/* *********************************** */
	/* RESPONSIVE CSS FOR HOME PAGE END */
	/* *********************************** */

	/* *********************************** */
	/* RESPONSIVE CSS FOR ABOUT PAGE START */
	/* *********************************** */
	@media(max-width: 467px) {
		.about-banner-res {
			width: 100%;
			height: 100%;
		}

	}

	/* *********************************** */
	/* RESPONSIVE CSS FOR ABOUT PAGE END */
	/* *********************************** */
}

@media(max-width: 748px) {
	.svg-draw-wrapper {
		display: none;
	}
}


	/* *********************************** */
	/* RESPONSIVE CSS FOR ABOUT PAGE MAP START */
	/* *********************************** */
	.faq-main-row{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.faq_main_container{
		width: 40%;
		margin: auto;
		/* border: 2px solid black; */
	}
	.faq_container { 
		border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255,0,128), rgba(255, 255, 255, 0));
    border-image-slice: 1;
    width:100%; 
	}
.faq_question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.answer {
  padding: 0 10px 20px;
  line-height: 1.5rem;
}
.fqa_headline_container h2 span { font-weight: 700; }
.faq_question-text h3 { font-size: 22px; }

.icon.active {
  background: transparent;
  border: 2px solid #fff;
}
.icon:hover { cursor: pointer; }
.icon-shape { position: relative; width: 50px; height: 50px; }
.icon .icon-shape::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.icon .icon-shape::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 30px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.icon .icon-shape.active::before {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.5s ease;
}
.icon .icon-shape.active::after {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.5s ease;
}

@media(max-width: 848px) {
	.faq-main-row{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.faq_main_container{
		width: 100%;
		margin: auto;
	}
}

.card-divider{
	width: 50%;
	margin: 3% auto;
    height: 2px;
    background: linear-gradient(to right, transparent, white, transparent);
}
	/* *********************************** */
	/* RESPONSIVE CSS FOR ABOUT PAGE MAP END */
	/* *********************************** */
	.hero-video {
		position: relative;
		width: 100%;
		height: 100vh; /* Full viewport height */
		overflow: hidden;
	}

	.hero-video video {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		object-fit: cover; /* Ensure the video covers the container */
		z-index: -1; /* Place the video behind other content */
	}

	/* Media query for smaller screens to make the video appear as a square */
	@media (max-width: 768px) {
		.hero-video {
			height: 100vw; /* Full viewport width to make it square */
		}

		.hero-video video {
			height: 100%; /* Ensure the video covers the square container */
			width: auto; /* Maintain aspect ratio */
		}
	}	

/* NEW MAP CSS START */
.title {
    margin: 20px;
}

.world-map {
    width: 100%;
	margin: auto;
    max-width: 1200px;
    height: auto; /* Limit the max size of the map */
    position: relative;
    overflow: hidden;
    padding: 5px;
    z-index: 1;/* border: 1px solid red; */
	transition: opacity 0.5s ease-in-out;
}
.world-mapx {
    width: 100%;
	margin: auto;
    max-width: 1300px;
    height: auto; /* Limit the max size of the map */
    position: relative;
    overflow: hidden;
    padding: 5px;
    z-index: 1;/* border: 1px solid red; */
	transition: opacity 0.5s ease-in-out;
}

.world-map.fade-out {
	opacity: 0;
  }
  
  .world-map.fade-in {
	opacity: 1;
  }

.world-map .map-img {
	margin: auto;
    width: 100%;
    height: auto;
}
.world-mapx .map-img {
	margin: auto;
    width: 100%;
    height: auto;
	z-index: -1;
}

.about-map:hover{
    transform: scale(1.1);
}
.about-mapx:hover{
    transform: scale(1.1);
}

.about-map span{
    display: none; /* Hide text by default */
}
.about-mapx span{
    display: none; /* Hide text by default */
}

.about-map:hover span{
    display: block;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background:#ff0000;
    color: #fff;
    font-weight: 700;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #FF0000;
    white-space: nowrap;
    z-index: 2 /* Maximum effective z-index */
}
.about-mapx:hover span{
    display: block;
    position: absolute;
    top: -100;
    left: 00%;
    transform: translate(-50%, -50%);
    background:white;
    color: grey;
    font-weight: 500;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid grey;
    white-space: nowrap;
    z-index: 11111111111/* Maximum effective z-index */
}


/* Keyframes Animation (pulse) */
@keyframes pulse {
    0% {
      box-shadow: 0px 0px 0px 0px #6a6a6a;
    }
    100% {
      box-shadow: 0px 0px 0px 7px rgba(5, 106, 180, 0.0);
    }
  }
  
  /* Rest of your existing CSS */
  
  .about-map {
	position: absolute;
	background: rgb(221, 3, 3);
	color: white;
	padding: 0.3vw;
	border-radius: 70%;
	cursor: pointer;
	transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
	animation: pulse 2s infinite ease-out;
	z-index: 11;
	opacity: 0;
  }
  .about-mapx {
	position: absolute;
	background: rgb(221, 3, 3);
	color: white;
	padding: 0.3vw;
	border-radius: 70%;
	cursor: pointer;
	transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
	animation: pulse 2s infinite ease-out;
	z-index: 11;
	/* opacity: 0; */
  }
  
  .about-map.show {
	opacity: 1;
	transform: scale(1);
	display: block;
  }
  
.tool-1 {
    top: 40%;
    left: 73.5%
}

.tool-2 {
    top: 41.5%;
    left: 74%

}
.tool-3 {
    top: 40.5%;
    left: 69.5%

}
.tool-4 {
    top: 41.5%;
    left: 71%

}
.tool-5 {
    top: 42.5%;
    left: 72.5%
}
.tool-6 {
    top: 45%;
    left: 70%
}
.tool-7 {
    top: 43%;
    left: 73.5%
}
.tool-8 {
    top: 49%;
    left: 71.5%
}
.tool-9 {
    top: 29%;
    left: 55.5%
}
.tool-10 {
    top: 62.5%;
    left: 54.5%
}
.tool-11 {
    top: 50%;
    left: 45%
}
.tool-12 {
    top: 83%;
    left: 52%
}
.tool-13 {
    top: 77%;
    left: 90%;
}
.tool-14 {
    top: 53%;
    left: 43%
}
.tool-15 {
    top: 63%;
    left: 57%
}

.tool-16 {
    top: 34%;
    left: 24%
}
.tool-17 {
    top: 33%;
    left: 26%
}
.tool-18 {
    top: 35%;
    left: 23%
}
.tool-19 {
    top: 36%;
    left: 21%
}
.tool-20 {
    top: 47%;
    left: 35%
}
.tool-21 {
    top: 48%;
    left: 37%
}
.tool-22 {
    top: 47%;
    left: 39%;
}
.tool-23 {
    top: 48%;
    left: 41%
}
.tool-24 {
    top: 60%;
    left: 33%
}
.tool-25 {
    top: 61%;
    left: 34.5%
}
.tool-26 {
    top: 60%;
    left: 36%
}
.tool-27 {
    top: 61%;
    left: 38%
}
.tool-28 {
    top: 60%;
    left: 39%
}
.tool-29 {
    top: 55%;
    left: 45%
}
.tool-30 {
    top: 56%;
    left: 47%
}
.tool-31 {
    top: 55%;
    left: 48%
}
.tool-32 {
    top: 56.5%;
    left: 44%
}
.tool-33 {
    top: 56%;
    left: 49.5%
}
.tool-34 {
    top: 50%;
    left: 64%
}
.tool-35 {
    top: 44%;
    left: 55%
}
.tool-36 {
    top: 45%;
    left: 57%
}
.tool-37 {
    top: 62%;
    left: 55%
}
.tool-38 {
    top: 64%;
    left: 54%
}
.tool-39 {
    top: 64%;
    left: 52%
}
.tool-40 {
    top: 82%;
    left: 40%;
}
.tool-41 {
    top: 83%;
    left: 42%
}
.tool-42 {
    top: 85%;
    left: 40%
} 
.tool-43 {
    top: 25%;
    left: 12%
}
.tool-44 {
    top: 60%;
    left: 25%
}
.tool-45 {
    top: 65%;
    left: 25%;
}
.tool-46 {
    top: 77%;
    left: 21%;
}
.tool-47 {
    top: 5%;
    left: 59%;
}
.tool-48 {
    top: 27%;
    left: 68%;
}
.tool-49 {
    top: 25%;
    left: 79%;
}
.tool-50 {
    top: 31%;
    left: 87%;
}
.tool-51 {
    top: 40%;
    left: 84%;
}
.tool-52 {
    top: 48%;
    left: 87%;
}
.tool-53 {
    top: 58%;
    left: 85%;
}
.tool-54 {
    top: 57%;
    left: 80%;
}
.tool-55 {
    top: 90%;
    left: 97%;
}
.tool-56 {
    top: 47%;
    left: 81%;
}
.tool-57 {
    top: 49%;
    left: 81%;
}
.tool-58 {
    top: 46%;
    left: 80%;
}
.tool-59 {
    top: 40%;
    left: 75%;
}
.tool-60 {
    top: 38%;
    left: 74%;
}
.tool-61 {
    top: 70%;
    left: 67%;
}
.tool-62 {
    top: 73%;
    left: 60%;
}
.tool-63 {
    top: 80%;
    left: 52%;
}
.tool-64 {
    top: 79%;
    left: 54%;
}
.tool-65 {
    top: 69%;
    left: 58%;
}
.tool-66 {
    top: 69%;
    left: 54%;
}
.tool-67 {
    top: 70%;
    left: 56%;
}
.tool-68 {
    top: 65%;
    left: 58%;
}
.tool-69 {
    top: 60%;
    left: 58%;
}
.tool-70 {
    top: 55%;
    left: 59%;
}
.tool-71 {
    top: 55%;
    left: 49%;
}
.tool-72 {
    top: 52%;
    left: 41%;
}
.tool-73 {
    top: 51%;
    left: 42%;
}
.tool-74 {
    top: 37%;
    left: 46%;
}
.tool-75 {
    top: 18%;
    left: 52%;
}
.tool-76 {
    top: 22%;
    left: 55%;
}
.tool-77 {
    top: 26%;
    left: 53%;
}
.tool-78 {
    top: 25%;
    left: 50%;
}
.tool-79 {
    top: 28%;
    left: 51%;
}
.tool-80 {
    top: 28%;
    left: 52%;
}
.tool-81 {
    top: 27%;
    left: 49%;
}
.tool-82 {
    top: 27%;
    left: 50%;
}
.tool-83 {
    top: 24%;
    left: 54%;
}
.tool-84 {
    top: 27%;
    left: 54%;
}
.tool-85 {
    top: 29%;
    left: 53%;
}
.tool-86 {
    top: 32%;
    left: 53%;
}
.tool-87 {
    top: 29%;
    left: 58%;
}
.tool-88 {
    top: 31%;
    left: 58%;
}
.tool-89 {
    top: 33%;
    left: 58%;
}
.tool-90 {
    top: 35%;
    left: 59%;
}
.tool-91 {
    top: 35%;
    left: 57%;
}
.tool-92 {
    top: 39%;
    left: 59%;
}
.tool-93 {
    top: 41%;
    left: 61%;
}
.tool-94 {
    top: 41%;
    left: 63%;
}
.tool-95 {
    top: 42%;
    left: 64%;
}
/* NEW MAP CSS END */